
body{
	background-image: url("../images/p6.jpg");
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #ffff80;


}

h1{
	font-size: 50pt;
	margin-bottom: 0;
	-webkit-text-stroke: 1px black;
}

h2{
	margin-top: 0;
}

img{
	width: 70%;
	height: 70%;
}